<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TimeClock 1.0</title>
    </head>

    <body>
        <h1>Welcome !</h1>
        <form action="/" method="POST">
        <p>User Name: <input type="text" name="userName"></p>
        <p>Password: <input type="text" name="password"></p>
        <button type="submit">Log In!</button>
        </form>

    </body>
</html>