<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TimeClock 1.0</title>
    </head>

    <body>
        <h1>Welcome! </h1>
        <a href="/checkIn">Clock In</a><p>  </p><a href="/checkOut">Clock Out</a>
        <div class="Time-Clocks">
            <h2>Time Clocks</h2>
            <ul>
                <% if (timeClocks.length > 0) { %>
                <% timeClocks.forEach(timeClock => { %>
                <li><h3><%=timeClock.clockType %>: </h3><p><%=timeClock.clockTime %></p></li>
                <% }) %>
            <% } %>
            </ul>
        </div>

    </body>
</html>